<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSSEG Afiliados</title>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfeavUpAAAAAFCwBdBowq5GBVcSuJxaMfr2B8uY"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="../public/js/main.js"></script>
    <style>
        
        
        
        

        
        .feature-icon {
            width: 4rem;
            height: 4rem;
            border-radius: 0.75rem;
        }


        /* Estilos para el formulario de resultado de búsqueda */
        #search-result {
            padding: 20px;
            margin-top: 20px;
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 10px;
        }

        .carousel-container {
    height: 20vh;
    width: 100%; /* Se extiende de punta a punta */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Asegura que no haya desbordamiento */
    position: relative;
}

.carousel-inner img {
    height: 100%;
    width: auto; /* Ajusta el ancho al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para que se ajuste dentro del contenedor sin recortarse */
    object-position: bottom; /* Ajusta la posición de la imagen para mostrar más de la parte inferior */
}

.carousel-item {
    position: relative;
    height: 100%; /* Asegura que el elemento del carrusel tenga altura */
}

.carousel-caption {
    position: absolute; /* Establece la posición absoluta para que el texto se coloque encima de la imagen */
    top: 0; /* Alinea el texto cerca del borde superior */
    left: 0; /* Alinea el texto cerca del borde izquierdo */
    width: 100%; /* Ajusta el ancho al 100% del elemento padre */
    height: 100%; /* Ajusta la altura al 100% del elemento padre */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex;
    align-items: flex-start; /* Alinea el texto al inicio del contenedor */
    justify-content: flex-end; /* Alinea el texto al final del contenedor */
    padding: 10px; /* Añade relleno para mejorar la legibilidad */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total del contenedor */
}

.carousel-caption h5 {
    margin: 10px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra de texto */
    font-size: 1em; /* Tamaño de letra reducido */
    font-weight: bold;
}


        

        .table thead th {
            background-color: #f8f9fa;
            text-align: center;
        }

        .table tbody td {
            text-align: center;
            vertical-align: middle;
        }

        @media (max-width: 768px) {
            .table thead {
                display: none;
            }

            .table, .table tbody, .table tr, .table td {
                display: block;
                width: 100%;
            }

            .table tbody tr {
                margin-bottom: 1rem;
                display: flex;
                flex-direction: column;
            }

            .table tbody td {
                text-align: right;
                padding-left: 50%;
                position: relative;
            }

            .table tbody td::before {
                content: attr(data-label);
                position: absolute;
                left: 0;
                width: 50%;
                padding-left: 0.75rem;
                font-weight: bold;
                text-align: left;
            }
        }
        

        .btn {
            padding: 0.25rem 0.5rem; /* Añade un poco de padding para que el texto no esté completamente pegado a los bordes */
            display: inline-block; /* Cambia a inline-block para que el ancho sea relativo al contenido */
            text-align: center; /* Centra el texto horizontalmente */
            margin: 0 auto; /* Centra el botón horizontalmente */
            font-size: 1rem; /* Ajusta el tamaño de fuente si es necesario */
            border: none; /* Opcional: elimina el borde si no es necesario */
            box-shadow: none; /* Opcional: elimina la sombra si no es necesario */
        }

        #volverInicioBtn, #ingresarBtn {
            width: auto; /* Ajusta el ancho automáticamente al contenido */
            white-space: nowrap; /* Evita que el texto se divida en varias líneas */
        }

     
        .border-bottom-full-width {
    border-bottom: 1px solid #000; /* Establece el estilo de la línea */
    margin-bottom: 20px; /* Espacio opcional entre el texto y la línea */
    width: 100%; /* Hace que la línea ocupe todo el ancho horizontal */
}
#featured-3 {
    width: 100%; /* Establece el ancho del contenedor al 100% del ancho del sitio web */
    padding-left: 0; /* Elimina el relleno izquierdo para que el contenedor comience desde el borde izquierdo */
    padding-right: 0; /* Elimina el relleno derecho para que el contenedor termine en el borde derecho */
}

.left-align-form {
    text-align: left;
    margin-left: 0; /* Asegura que el formulario esté alineado a la izquierda */
}

.form-label-bold {
    font-weight: bold;
    text-align: left;
}
.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.navbar-brand img {
    margin-right: 10px;
}

.fb-icon {
        margin-right: 20px;
    }

    .ig-icon {
        margin-left: 20px;
    }

    .footer-container {
    background-color: #ffffff; /* Example background color */
    padding: 10px 0;
   
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-img {
    height: 40px; /* Adjust the size as needed */
}

.footer-text {
    font-size: 0.8rem;
    margin-top: 10px; /* Adjust the space between the image and text */
}

.d-flex {
    display: flex !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.gap-4 {
    gap: 1rem !important;
}

.text-center {
    text-align: center !important;
}

.text-start {
    text-align: left !important;
}

.text-left {
    text-align: left !important;
}

.mx-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.flex-grow-1 {
    flex-grow: 1 !important;
}

#featured-3 .text-center a img {
    height: 30px; /* Adjust as necessary */
}

.fs-4 {
    font-size: 1.25rem;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
}

#featured-3 .icon-link {
    margin: 0 5px; /* Adjust the spacing between icons */
}


   
   

.nav-tabs .nav-link {
    color: #495057;
    border: 1px solid #dee2e6;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.tab-content .tab-pane {
    padding-top: 1rem;
}



    </style>
</head>

<body>
  
 
  
    <!-- Navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://www.osseg.org.ar/">
            <img src="./OSSEG_22.webp" alt="OSSEG" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form id="logoutForm" action="/logout" method="POST" style="display: inline;">
                        <button type="submit" class="nav-link btn btn-link">Cerrar Sesion</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


    <div class="modal fade" id="welcomeModal" tabindex="-1" aria-labelledby="welcomeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center align-middle font-roboto" id="welcomeModalLabel">Bienvenidos</h5>

                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center font-roboto">Este sitio web exclusivo de OSSEG, proporciona los datos de los afiliados en tiempo real con el estado de su medicación, con 4 distintos tipos de búsqueda:</p>
                    <ul class="text-center font-roboto">
                        <li>Nombre y apellido: Trae los datos exactos del afiliado con ese nombre y apellido. (si algunos están agendados con nombre y segundo nombre también trae los datos de ese afiliado)</li>
                        <li>Nombre: Trae los datos de todos los afiliados con ese nombre.</li>
                        <li>Apellido: Trae los datos de todos los afiliados con ese apellido.</li>
                        <li>N° de afiliado: Trae los datos del afiliado con ese número de afiliado.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary font-roboto" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
   

   <!-- Carrusel de imágenes -->
    <div class="carousel-container">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./OSSEGimg.webp" class="d-block w-100 carousel-img" alt="OSSEG App">
                    <div class="carousel-caption d-none d-md-block font-roboto top-right-caption">
                        <h5>Sitio web exclusivo para el personal de OSSEG.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>  
    

   
 
<!-- Formulario de resultado de búsqueda -->
<% if (!data || data.length === 0) { %>
    <div class="px-4 pt-4 my-4 text-center">
        <div class="container px-5">
            
        </div>
        <form action="/buscar" method="post" class="left-align-form">
            <div class="row justify-content-center font-roboto">
                <div class="col-md-6">
                    <h3 class="form-title">Formulario de búsqueda</h3>
                    <label for="nombre" class="form-label font-roboto form-label-bold">NOMBRE, APELLIDO y ESTADO DEL PACIENTE</label>
                    <div class="input-group mb-3">
                        <input type="text" id="nombre" name="nombre" class="form-control font-roboto" placeholder="Nombre">
                        <input type="text" id="apellido" name="apellido" class="form-control font-roboto" placeholder="Apellido">
                        <select id="estado" name="estado" class="form-control font-roboto">
                            <option value="" disabled selected>Estado</option>
                            <option value="EN PREPARACION">EN PREPARACION</option>
                            <option value="EN TRANSITO">EN TRANSITO</option>
                            <option value="DISPONIBLE">DISPONIBLE</option>
                            <option value="DISPENSADO">DISPENSADO</option>
                        </select>
                    </div>
                    <label for="nroAfiliado" class="form-label font-roboto form-label-bold">NÚMERO DE AFILIADO</label>
                    <div class="input-group mb-3">
                        <input type="text" id="nroAfiliado" name="nroAfiliado" class="form-control font-roboto" placeholder="Número de Afiliado">
                    </div>
                    <button type="submit" id="ingresarBtn" class="btn btn-primary font-roboto d-block mx-auto">BUSCAR</button>
                </div>
            </div>
        </form>
    </div>
<% } else { %>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <% for (let i = 0; i < totalPages; i++) { %>
                <li class="nav-item" role="presentation">
                    <a class="nav-link <%= i === 0 ? 'active' : '' %>" id="page-<%= i %>-tab" data-bs-toggle="tab" href="#page-<%= i %>" role="tab" aria-controls="page-<%= i %>" aria-selected="<%= i === 0 ? 'true' : 'false' %>">Página <%= i + 1 %></a>
                </li>
            <% } %>
        </ul>
        <div class="tab-content" id="myTabContent">
            <% for (let i = 0; i < totalPages; i++) { %>
                <div class="tab-pane fade <%= i === 0 ? 'show active' : '' %>" id="page-<%= i %>" role="tabpanel" aria-labelledby="page-<%= i %>-tab">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Fecha de Remito</th>
                                <th>N° Afiliado</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Farmacia</th>
                                <th>N° Rto</th>
                                <th>Estado</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% data.slice(i * 20, (i + 1) * 20).forEach(pedido => { %>
                            <tr>
                                <td>
                                    <% if (pedido.DOCDATE_REM) { %>
                                        <% 
                                            let dateParts = pedido.DOCDATE_REM.split(' ')[0].split('-'); 
                                            let formattedDate = `${dateParts[2]}-${dateParts[1]}-${dateParts[0]}`;
                                        %>
                                        <%= formattedDate %>
                                    <% } else { %>
                                        No remitido
                                    <% } %>
                                </td>
                                <td><%= pedido.U_NroAfiliado ? pedido.U_NroAfiliado.split('%')[1] : 'No disponible' %></td>
                                <td><%= pedido.U_NombrePaciente %></td>
                                <td><%= pedido.U_ApellidoPaciente %></td>
                                <td><%= pedido.U_NOMBRE_FD %></td>
                                <td><%= pedido.U_REMITO %></td>
                                <td><%= pedido.ESTADO %></td>
                                <td><%= pedido.Dscription %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            <% } %>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <a href="/osseg_seguimiento1" id="volverInicioBtn" class="btn btn-primary btn-lg btn-volver">VOLVER AL INICIO</a>
            </div>
        </div>
    </div>
<% } %>

    
 
<!-- Contenedor principal -->
<div class="container-fluid px-0 py-5" id="featured-3" style="margin-top: 0; margin-bottom: 0;">
    <!-- Línea por encima de los iconos -->
    <hr style="margin-bottom: 20px;">
    <!-- Iconos de redes sociales -->
    <div class="text-center mb-3">
        <a href="https://www.facebook.com/AudifarmSalud/" target="_blank" class="icon-link fb-icon">
            <img src="./facebook.png" alt="Facebook" height="30">
        </a>
        <a href="https://www.linkedin.com/company/audifarm-salud-s-a-/" target="_blank" class="icon-link">
            <img src="./linkedinOriginal.png" alt="LinkedIn" height="30">
        </a>
        <a href="https://www.instagram.com/audifarm_salud/" target="_blank" class="icon-link ig-icon">
            <img src="./instagram.png" alt="Instagram" height="30">
        </a>
    </div>
    <!-- Contenido alineado -->
    <div class="d-flex justify-content-center align-items-center gap-4 py-3" style="margin-bottom: 0; margin-top: 70px;">
        <!-- Logo de AudifarmSalud -->
        <div class="text-start" style="flex-shrink: 0; margin-left: 60px;">
            <a href="https://www.audifarmsalud.com/" target="_blank">
                <img src="./audifarm_logo.png" alt="AudifarmSalud" style="height: 30px;">
            </a>
        </div>
        <!-- Información de BUENOS AIRES y CÓRDOBA -->
        <div class="d-flex flex-grow-1 justify-content-between mx-3">
            <!-- BUENOS AIRES -->
            <div class="text-left my-auto" style="flex-grow: 1; text-align: center; margin-left: 306px;">
                <h3 class="fs-4 font-roboto" style="margin-top: 0;">BUENOS AIRES</h3>
                <p class="font-roboto" style="font-size: 0.9rem; margin-top: -0.5rem;">Moreno 3059 (C1209ABE) C.A.B.A. T: (11) 4956 9900</p>
            </div>
            <!-- CÓRDOBA -->
            <div class="text-left my-auto" style="flex-shrink: 0;">
                <h3 class="fs-4 font-roboto" style="margin-top: 0;">CÓRDOBA</h3>
                <p class="font-roboto" style="font-size: 0.9rem; margin-top: -0.5rem;">Juan de Garay 1596 (CP5004) Córdoba T: (0351) 452 0551 / 451 8323</p>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<div class="footer-container" style="position: relative; bottom: 0; width: 100%;">
    <div class="footer-content text-center">
        <img src="./Beeneuv3.png" alt="Powered By" class="footer-img">
        <div class="footer-text">
            Powered© by Beeneu. Todos los derechos reservados.
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>



<script>

       async function loadPage(page) {
            try {
                const response = await fetch(`/buscar?page=${page}`); // Hacer la solicitud GET al endpoint /buscar con el número de página

                if (!response.ok) {
                    throw new Error(`Error al cargar la página ${page}`);
                }

                const responseData = await response.json();
                renderResults(responseData.data);
                updatePaginationButtons(responseData.totalPages, responseData.currentPage);

                // Actualizar la URL sin recargar la página (para mantener historial)
                window.history.pushState({ page: page }, `Página ${page}`, `/pagina?page=${page}`);
            } catch (error) {
                console.error('Error:', error);
            }
        }

        function renderResults(data) {
            const resultsContainer = document.getElementById('results-container');
            resultsContainer.innerHTML = ''; // Limpiar resultados anteriores

            data.forEach(item => {
                const resultItem = document.createElement('div');
                resultItem.classList.add('result-item');

                const nameElement = document.createElement('h3');
                nameElement.textContent = `${item.firstName} ${item.lastName}`;

                const emailElement = document.createElement('p');
                emailElement.textContent = `Email: ${item.email}`;

                resultItem.appendChild(nameElement);
                resultItem.appendChild(emailElement);

                resultsContainer.appendChild(resultItem);
            });
        }

        function updatePaginationButtons(totalPages, currentPage) {
            const paginationContainer = document.getElementById('pagination-buttons');
            paginationContainer.innerHTML = ''; // Limpiar botones anteriores

            if (currentPage > 1) {
                const prevButton = document.createElement('button');
                prevButton.textContent = 'Anterior';
                prevButton.onclick = () => loadPage(currentPage - 1);
                paginationContainer.appendChild(prevButton);
            }

            for (let i = 1; i <= totalPages; i++) {
                const button = document.createElement('button');
                button.textContent = i;
                button.onclick = () => loadPage(i);
                paginationContainer.appendChild(button);
            }

            if (currentPage < totalPages) {
                const nextButton = document.createElement('button');
                nextButton.textContent = 'Siguiente';
                nextButton.onclick = () => loadPage(currentPage + 1);
                paginationContainer.appendChild(nextButton);
            }
        }

        // Manejar la navegación hacia atrás y adelante del historial del navegador
        window.onpopstate = function(event) {
            const page = event.state.page || 1; // Obtener el número de página del estado del historial o usar la página 1 por defecto
            loadPage(page);
        };

        // Inicializar la carga de la primera página al cargar la página
        document.addEventListener('DOMContentLoaded', () => {
            const initialPage = new URLSearchParams(window.location.search).get('page') || 1; // Obtener el número de página de los parámetros de búsqueda
            loadPage(initialPage);
        });

    </script>


<script>
    window.addEventListener('DOMContentLoaded', function() {
        fetch('/verify-recaptcha', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ token: '6LfeavUpAAAAAFCwBdBowq5GBVcSuJxaMfr2B8uY' }) // Envía el token de reCAPTCHA v3 al servidor
        }).then(function(response) {
            // Maneja la respuesta del servidor
            if (response.ok) {
                console.log('reCAPTCHA verification successful.');
            } else {
                console.error('reCAPTCHA verification failed.');
            }
        }).catch(function(error) {
            console.error('Error al verificar reCAPTCHA:', error);
        });
    });
</script>

<script>
function showWelcomeModal() {
    var hasShownModal = sessionStorage.getItem('hasShownModal');

    if (!hasShownModal) {
        var welcomeModal = new bootstrap.Modal(document.getElementById('welcomeModal'), {});
        welcomeModal.show();

        // Almacenar el indicador de que el modal se ha mostrado
        sessionStorage.setItem('hasShownModal', true);
    }
}
        // Función para ocultar el modal cuando se hace clic en "Volver al inicio"
        document.getElementById("volverInicioBtn").addEventListener("click", function() {
            // Ocultar el modal
            var welcomeModal = bootstrap.Modal.getInstance(document.getElementById('welcomeModal'));
            if (welcomeModal) {
                welcomeModal.hide();
            }
        });


        // Función para ocultar el carrusel
        function hideCarousel() {
                const carousel = document.getElementById('carouselExampleIndicators');
                carousel.style.display = 'none';
            }

             // Ocultar el carrusel cuando se muestran los resultados de búsqueda
             hideCarousel();
</script>

<script>
    // Función para mostrar el formulario de resultado de búsqueda y el botón "Volver al inicio"
    function mostrarResultadoBusqueda() {
        document.getElementById("search-result").style.display = "block";
        document.querySelector(".btn-volver").style.display = "block";
        document.querySelector(".footer-copyright-align").style.display = "block";
    }

    // Función para ocultar el formulario de resultado de búsqueda y el botón "Volver al inicio"
    function ocultarResultadoBusqueda() {
        document.getElementById("search-result").style.display = "none";
        document.querySelector(".btn-volver").style.display = "none";
        document.querySelector(".footer-copyright-align").style.display = "none";
    }

</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


<!-- custom code -->

</body>
</html>




